[submodule "themes/eureka"]
	path = themes/eureka
	url = https://github.com/wangchucheng/hugo-eureka.git
[submodule "blog/themes/eureka"]
	path = blog/themes/eureka
	url = https://github.com/wangchucheng/hugo-eureka.git
